@import "tailwindcss";

#po-print-area {
    min-width: 900px !important;
    background-color: white !important;
    font-family: 'Arial', sans-serif;
}

#po-print-area table {
    width: 100% !important;
    border-collapse: collapse;
    margin: 5px !important;
}

#po-print-area th,
#po-print-area td {
    white-space: nowrap !important;
    padding: 8px !important;
    border: 1px solid #d1d5db !important;
}

.btn:hover{
    background-color: rgb(30 41 59);
}

.btn:active{
    background-color: rgb(57, 73, 171);
}

.btn:hover h2{
    border-bottom: none;
    color: white;
}

.btn h2:active{
    background-color: rgb(57, 73, 171);
    color: white;
}

.scroller::-webkit-scrollbar{
    display: none;
}

.input-line {
  width: 100%;
  border: none;
  border-bottom: 1px solid #858181;
  padding: 6px 2px;
  outline: none;
}

.input-line:focus {
  border-bottom: 2px solid #4b5ea3;
}